/* footer {
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px #ccc;
    width: 100%;
} */


/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Footer Styling */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #302d2d;
    color: #fdfbfb;
    box-shadow: 0 0 10px #ccc;
}

